{
    "openapi": "3.0.0",
    "info": {
        "title": "ISBNdb API Documentation v2",
        "description": "Welcome to the ISBNdb API documentation. Our REST API allows you to retrieve\ninformation about millions of books.\n\n## Authentication\n\nInclude your API key in the HTTP headers of every request:\n\n```http\nGET /book/9780134093413 HTTP/1.1\nHost: api2.isbndb.com\nAuthorization: YOUR_REST_KEY\nAccept: */*\n```\n\nThe header is the only way to authenticate. Passing your API key as a query\nparameter is **not** supported \u2014 query strings are recorded in server logs,\nproxies and browser history, so a key sent that way is far easier to leak. Such a\nrequest is rejected as unauthenticated:\n\n```text\nhttps://api2.isbndb.com/book/9780134093413?Authorization=YOUR_REST_KEY\n```\n\n## Error responses\n\nEvery error carries the same body, with the reason repeated under two keys.\n`errorMessage` is the current one; `message` is kept for older clients. Error\nbodies are the one place the API does not use snake_case:\n\n```json\n{\"message\": \"Book not found\", \"errorMessage\": \"Book not found\"}\n```\n\n**400 Bad Request** \u2014 the request is invalid or fails validation, for example\nan incorrect ISBN format, a query over 150 characters, or a filter combination\nthe endpoint does not allow.\n\n**401 Unauthorized** \u2014 your API key is missing, unknown, or the subscription\nbehind it is inactive. The reason differs by case: `Full authentication is\nrequired to access this resource.` when no key was sent, `Bad credentials.`\nwhen the key is unknown, `Api key is not active` when the subscription lapsed.\n\n**404 Not Found** \u2014 the requested ISBN is not in our database:\n\n```json\n{\"message\": \"Book not found\", \"errorMessage\": \"Book not found\"}\n```\n\n**429 Too Many Requests** \u2014 the per minute or the daily limit of your plan is\nreached:\n\n```json\n{\"message\": \"Per minute quota exceeded, please try again later\"}\n```\n\n```json\n{\"message\": \"Daily quota exceeded, please try again later\"}\n```\n\n**503 Service Unavailable** \u2014 the search backend is briefly unreachable. Retry\nafter the number of seconds in the `Retry-After` header.\n\n***Note on 404 errors: a 404 response indicates that the book information is not\nyet available in our database. However, due to frequent updates, there is a high\nprobability that the data will be added shortly, often within a minute or up to\n24 hours. We recommend trying your request again after a while, as the\ninformation may soon become accessible.***\n\n## Rate limits\n\nYou can programmatically monitor your usage and limits by inspecting the\nstandard `ratelimit-policy` and `ratelimit` headers we send with every response:\n\n**`ratelimit-policy`** defines the limit rules of your subscription plan, where\n`q` is the quota (maximum allowed requests) and `w` is the window (timeframe in\nseconds):\n\n```text\nratelimit-policy: \"rate\";q=300;w=60\nratelimit-policy: \"daily\";q=50000;w=86400\n```\n\n**`ratelimit`** displays your current real-time usage status, where `r` is the\nnumber of requests left in the window and `t` is how many seconds you have to\nwait before the next request is allowed. While you still have quota, `t` is `0`\n\u2014 there is nothing to wait for:\n\n```text\nratelimit: \"rate\";r=297;t=0\nratelimit: \"daily\";r=48999;t=56312\n```\n\nAll daily limits reset at **00:00 UTC** every day.\n\n## Pagination\n\nPaginated endpoints take `page` and `pageSize` as query parameters and echo them\nback as `page` and `page_size` in the response body. Query parameters are\ncamelCase, response fields are snake_case \u2014 that difference is intentional and\napplies across the whole API (error bodies excepted, see above).\n\nOn the search and detail endpoints `pageSize` is capped at **100**: a larger value\nis rejected with a **400 Bad Request**. Subscriptions that existed before the cap\nwas introduced keep the previous limit of 1,000 \u2014 where a larger value is quietly\nreduced instead of rejected \u2014 until **October 10, 2026**, after which the cap of\n100 applies to every key. Paging stops at 10,000 results \u2014 a request whose offset\nwould reach past that is answered with a **400 Bad Request**, and the last page\nbefore the ceiling is trimmed to fit. `total` is likewise counted only up to\n10,000, so a broad query reports exactly `10000` instead of the real figure.\nNarrow the query rather than paging deeper.\n\n`GET /feeds/books/updates` paginates differently: there is no 10,000 ceiling and\nno `total`, and a `pageSize` above 1,000 is rejected with a **400 Bad Request**\ninstead of being reduced. Keep requesting pages until `data` comes back empty.\n\n## Null values\n\nFields with no value are left out of the response rather than sent as `null`.\nThe schemas below mark them nullable, but in practice you should treat a missing\nkey and a null value the same way.\n",
        "version": "2.7.5"
    },
    "servers": [
        {
            "url": "https://api2.isbndb.com",
            "description": "API Endpoint"
        }
    ],
    "paths": {
        "/author/{name}": {
            "get": {
                "tags": [
                    "Author"
                ],
                "summary": "Get an author's books",
                "description": "Returns the name and a list of books by the author.",
                "operationId": "getAuthorBooks",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The author name. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "Jane B. Reece"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                        "required": false,
                        "schema": {
                            "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                            "type": "string",
                            "nullable": true,
                            "default": null,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    },
                    {
                        "name": "publishedFrom",
                        "in": "query",
                        "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "publishedTo",
                        "in": "query",
                        "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the author and their books for the requested page",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorDetailsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/authors/{query}": {
            "get": {
                "tags": [
                    "Author"
                ],
                "summary": "Search author names",
                "description": "This returns a list of authors whos name matches the given query",
                "operationId": "searchAuthorNames",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "The search query string. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "Jane B. Reece"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the author's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchAuthorsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/book/{isbn}": {
            "get": {
                "tags": [
                    "Books"
                ],
                "summary": "Get a book by ISBN",
                "description": "Returns the book details. \n        \n**A 404 Not Found response for an ISBN lookup typically indicates that the book information is not yet available\nin our database. However, due to frequent updates, there is a high probability that the data will be added shortly,\noften within a minute or up to 24 hours. We recommend trying your request again after a while, as the information\nmay soon become accessible.**",
                "operationId": "getBook",
                "parameters": [
                    {
                        "name": "isbn",
                        "in": "path",
                        "description": "An ISBN-10 or ISBN-13, with or without hyphens. The response always reports the book under its ISBN-13.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "9780134093413"
                    },
                    {
                        "name": "with_prices",
                        "in": "query",
                        "description": "Whether to include prices in the response. \n\n***Requires a plan with price access (Pro and above).*** On plans without it the parameter is ignored and the book is returned without prices - the request is not rejected.\n\n***Performance Impact:*** Enabling this will increase response time, as current prices are fetched from vendors in real-time.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the book details",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetBookResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Book not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/books": {
            "post": {
                "tags": [
                    "Books"
                ],
                "summary": "Get many books by ISBN",
                "description": "\nRetrieves a list of books matching the provided array of ISBNs. This endpoint is available on all plans and does not use pagination.\n\n**Request Limits per Plan:**\n* **Academic:** Up to 10 ISBNs per request.\n* **Basic:** Up to 100 ISBNs per request.\n* **Pro, Premium, and higher:** Up to 1,000 ISBNs per request.\n\nExceeding the limit returns a **400 Bad Request** naming the exact limit for your plan.\n\n**Quota Usage (Important):** Each requested ISBN counts as a separate API call against your daily limit. For example, a single request containing 100 ISBNs will deduct 100 calls from your daily quota. Duplicates are collapsed and unusable ISBNs are discarded before the charge is calculated, so the amount actually deducted is the `requested` field of the response.\n\n**Response Behavior:**\n* The response will only include books that successfully match an ISBN in our database. \n* Any submitted ISBNs that are not found will be silently ignored and excluded from the response.\n* **Note:** Pricing information is not returned by this endpoint.\n",
                "operationId": "getBooksByIsbn",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetBooksMultipleRequest"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/GetBooksMultipleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns books details",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetBooksMultipleResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/books/{query}": {
            "get": {
                "tags": [
                    "Books"
                ],
                "summary": "Search books by text",
                "description": "This returns a list of books that match the query.\n\n**This endpoint does not return pricing information.**",
                "operationId": "searchBooks",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "The search query string. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "campbell biology"
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter books by year of publication",
                        "required": false,
                        "schema": {
                            "description": "Filter books by year of publication",
                            "type": "integer",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "edition",
                        "in": "query",
                        "description": "Filter books by edition",
                        "required": false,
                        "schema": {
                            "description": "Filter books by edition",
                            "type": "integer",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "shouldMatchAll",
                        "in": "query",
                        "description": "If set to `1` or `true`, the API will return books where the title \n        or author exactly contains all the words entered by the user.",
                        "required": false,
                        "schema": {
                            "description": "If set to `1` or `true`, the API will return books where the title \n        or author exactly contains all the words entered by the user.",
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                        }
                    },
                    {
                        "name": "column",
                        "in": "query",
                        "description": "Search limited to this column:\n* `` - Empty value search in every column\n* `title` - Only searches in Books Title\n* `author` - Only searches books by the given Author\n* `date_published` - Only searches books in a given year, e.g. 1998\n* `subjects` - Only searches books by the given subject, e.g. physics",
                        "required": false,
                        "schema": {
                            "description": "Search limited to this column:\n* `` - Empty value search in every column\n* `title` - Only searches in Books Title\n* `author` - Only searches books by the given Author\n* `date_published` - Only searches books in a given year, e.g. 1998\n* `subjects` - Only searches books by the given subject, e.g. physics",
                            "type": "string",
                            "nullable": true,
                            "default": null,
                            "enum": [
                                "title",
                                "author",
                                "date_published",
                                "subjects"
                            ]
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                        "required": false,
                        "schema": {
                            "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                            "type": "string",
                            "nullable": true,
                            "default": null,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    },
                    {
                        "name": "publishedFrom",
                        "in": "query",
                        "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "publishedTo",
                        "in": "query",
                        "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the book details",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchBooksPaginatedResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/feeds/books/updates": {
            "get": {
                "tags": [
                    "Feed"
                ],
                "summary": "Get recently updated ISBNs",
                "description": "Retrieves a list of book ISBNs that have been added or modified. This endpoint is designed for frequent incremental synchronization.\n\n**Important Notes:**\n* **Plan limits:** Available exclusively for **Premium** plans and higher. Other plans get a **403 Forbidden**.\n* **History limit:** The update history is strictly limited to the last **7 days**.\n* **Quota:** Calling this endpoint does not count towards your daily API limits.\n* **Pagination:** The response does not include a total field. To fetch all updates, continue requesting subsequent pages (incrementing the page parameter) until the data array in the response is empty.",
                "operationId": "getBookUpdates",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve",
                            "type": "integer",
                            "nullable": true,
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 1,000",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 1,000",
                            "type": "integer",
                            "nullable": true,
                            "default": 100,
                            "maximum": 1000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "lastUpdated",
                        "in": "query",
                        "description": "Filter by last updated date (Format: YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "description": "Filter by last updated date (Format: YYYY-MM-DD)",
                            "type": "string",
                            "nullable": true,
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of recently updated book ISBNs",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdatedBooksResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The plan behind the API key does not include the updates feed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/key": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get plan and remaining quota",
                "description": "Returns the plan behind the API key and how much of the daily quota it has already spent today. Calling this endpoint does not count towards the daily limit.",
                "operationId": "getApiKey",
                "responses": {
                    "200": {
                        "description": "Returns key details",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeyResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/publisher/{name}": {
            "get": {
                "tags": [
                    "Publisher"
                ],
                "summary": "Get a publisher's books",
                "description": "Returns the name and a list of books by the publisher.",
                "operationId": "getPublisherBooks",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The publisher name. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "Pearson"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                        "required": false,
                        "schema": {
                            "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                            "type": "string",
                            "nullable": true,
                            "default": null,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    },
                    {
                        "name": "publishedFrom",
                        "in": "query",
                        "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "publishedTo",
                        "in": "query",
                        "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the publisher and their books for the requested page",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/publishers/{query}": {
            "get": {
                "tags": [
                    "Publisher"
                ],
                "summary": "Search publisher names",
                "description": "This returns a list of publishers whose name matches the given query",
                "operationId": "searchPublisherNames",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "The search query string. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "Pearson"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the author's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchPublishersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/search/authors": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search author names (deprecated)",
                "description": "\n**Deprecated.** Use `GET /authors/{query}` instead, which returns the same results with the query in the path.\n        \nUses a determined index and query string to search in any of the ISBNDB's databases",
                "operationId": "searchAuthorNamesLegacy",
                "parameters": [
                    {
                        "name": "text",
                        "in": "query",
                        "description": "The string to search for. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Jane B. Reece"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the author's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchBaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/search/books": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search books by field",
                "description": "\nField-level search over the book catalogue.\n\n**At least one filter is required.** Supply either an identifier (`isbn` or `isbn13`) or one or more\nsearch fields (`author`, `text`, `subject`, `publisher`). Mixing the two groups is rejected with a\n**400 Bad Request**, and so is sending none of them.\n\nPassing `isbn` or `isbn13` skips the search index and resolves the book directly.\n\nThis endpoint does not return pricing information.",
                "operationId": "searchBooksByField",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    },
                    {
                        "name": "isbn",
                        "in": "query",
                        "description": "An ISBN-10 or ISBN-13. Either form is accepted and normalised to ISBN-13. Cannot be combined with `author`, `text`, `subject` or `publisher`.",
                        "required": false,
                        "schema": {
                            "description": "An ISBN-10 or ISBN-13. Either form is accepted and normalised to ISBN-13. Cannot be combined with `author`, `text`, `subject` or `publisher`.",
                            "type": "string",
                            "nullable": true,
                            "maxLength": 20
                        }
                    },
                    {
                        "name": "isbn13",
                        "in": "query",
                        "description": "An ISBN-10 or ISBN-13. Either form is accepted and normalised to ISBN-13. Cannot be combined with `author`, `text`, `subject` or `publisher`.",
                        "required": false,
                        "schema": {
                            "description": "An ISBN-10 or ISBN-13. Either form is accepted and normalised to ISBN-13. Cannot be combined with `author`, `text`, `subject` or `publisher`.",
                            "type": "string",
                            "nullable": true,
                            "maxLength": 20
                        }
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "description": "The name of an author in the Author's database",
                        "required": false,
                        "schema": {
                            "description": "The name of an author in the Author's database",
                            "type": "string",
                            "nullable": true,
                            "maxLength": 150
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "description": "A string to search for determinated index database",
                        "required": false,
                        "schema": {
                            "description": "A string to search for determinated index database",
                            "type": "string",
                            "nullable": true,
                            "maxLength": 150
                        }
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "description": "A subject in the Subject's database",
                        "required": false,
                        "schema": {
                            "description": "A subject in the Subject's database",
                            "type": "string",
                            "nullable": true,
                            "maxLength": 150
                        }
                    },
                    {
                        "name": "publisher",
                        "in": "query",
                        "description": "The name of a publisher in the Publisher's database",
                        "required": false,
                        "schema": {
                            "description": "The name of a publisher in the Publisher's database",
                            "type": "string",
                            "nullable": true,
                            "maxLength": 150
                        }
                    },
                    {
                        "name": "publishedFrom",
                        "in": "query",
                        "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "publishedTo",
                        "in": "query",
                        "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the books's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchBookResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/search/publishers": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search publisher names (deprecated)",
                "description": "\n**Deprecated.** Use `GET /publishers/{query}` instead, which returns the same results with the query in the path.\n        \nUses a determined index and query string to search in any of the ISBNDB's databases",
                "operationId": "searchPublisherNamesLegacy",
                "parameters": [
                    {
                        "name": "text",
                        "in": "query",
                        "description": "The string to search for. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Pearson"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the publisher's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchBaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/search/subjects": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search subject names (deprecated)",
                "description": "\n**Deprecated.** Use `GET /subjects/{query}` instead, which returns the same results with the query in the path.\n        \nUses a determined index and query string to search in any of the ISBNDB's databases",
                "operationId": "searchSubjectNamesLegacy",
                "parameters": [
                    {
                        "name": "text",
                        "in": "query",
                        "description": "The string to search for. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Biology"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the subjects's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchBaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/stats": {
            "get": {
                "tags": [
                    "Stats"
                ],
                "summary": "Get catalogue size",
                "description": "Returns how many books, authors, publishers and subjects the database currently holds. The counts are cached for one hour.",
                "operationId": "getCatalogueStats",
                "responses": {
                    "200": {
                        "description": "Returns the current size of each database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseStatsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/subjects/{query}": {
            "get": {
                "tags": [
                    "Subject"
                ],
                "summary": "Search subject names",
                "description": "This returns a list of subjects that match the given query",
                "operationId": "searchSubjectNames",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "The search query string. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "biology"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The query string found results in the author's database",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchSubjectResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/subject/{name}": {
            "get": {
                "tags": [
                    "Subject"
                ],
                "summary": "Get a subject's books",
                "description": "Returns the name and a list of books by the subject.",
                "operationId": "getSubjectBooks",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The subject name. **Max length: 150 characters**.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": ".+"
                        },
                        "example": "Biology"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                        "required": false,
                        "schema": {
                            "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                            "type": "string",
                            "nullable": true,
                            "default": null,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "required": false,
                        "schema": {
                            "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "required": false,
                        "schema": {
                            "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                            "type": "integer",
                            "nullable": true,
                            "default": 20
                        }
                    },
                    {
                        "name": "publishedFrom",
                        "in": "query",
                        "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    },
                    {
                        "name": "publishedTo",
                        "in": "query",
                        "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "required": false,
                        "schema": {
                            "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                            "type": "string",
                            "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                            "nullable": true,
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the subject and its books for the requested page",
                        "headers": {
                            "ratelimit-policy": {
                                "description": "The quota rules of the plan, where `q` is the maximum number of requests and `w` the window in seconds, for example `\"rate\";q=300;w=60`.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "ratelimit": {
                                "description": "Current usage, where `r` is the number of requests left in the window and `t` the seconds until it resets, for example `\"rate\";r=297;t=1`.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubjectDetailsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "SearchQueryFilters": {
                "properties": {
                    "isbn": {
                        "description": "An ISBN-10 or ISBN-13. Either form is accepted and normalised to ISBN-13. Cannot be combined with `author`, `text`, `subject` or `publisher`.",
                        "type": "string",
                        "nullable": true,
                        "maxLength": 20
                    },
                    "isbn13": {
                        "description": "An ISBN-10 or ISBN-13. Either form is accepted and normalised to ISBN-13. Cannot be combined with `author`, `text`, `subject` or `publisher`.",
                        "type": "string",
                        "nullable": true,
                        "maxLength": 20
                    },
                    "author": {
                        "description": "The name of an author in the Author's database",
                        "type": "string",
                        "nullable": true,
                        "maxLength": 150
                    },
                    "text": {
                        "description": "A string to search for determinated index database",
                        "type": "string",
                        "nullable": true,
                        "maxLength": 150
                    },
                    "subject": {
                        "description": "A subject in the Subject's database",
                        "type": "string",
                        "nullable": true,
                        "maxLength": 150
                    },
                    "publisher": {
                        "description": "The name of a publisher in the Publisher's database",
                        "type": "string",
                        "nullable": true,
                        "maxLength": 150
                    }
                },
                "type": "object"
            },
            "Point": {
                "required": [
                    "x",
                    "y"
                ],
                "properties": {
                    "x": {
                        "description": "Horizontal offset of the merchant logo, in pixels",
                        "type": "string",
                        "example": "0"
                    },
                    "y": {
                        "description": "Vertical offset of the merchant logo, in pixels",
                        "type": "string",
                        "example": "-42"
                    }
                },
                "type": "object"
            },
            "Price": {
                "required": [
                    "condition",
                    "merchant",
                    "merchant_logo",
                    "merchant_logo_offset",
                    "shipping",
                    "price",
                    "total",
                    "link"
                ],
                "properties": {
                    "condition": {
                        "description": "Condition of the book offered at this price (e.g. new, used, digital)",
                        "type": "string"
                    },
                    "merchant": {
                        "description": "Name of the merchant offering this price",
                        "type": "string"
                    },
                    "merchant_logo": {
                        "description": "URL of the merchant logo image",
                        "type": "string"
                    },
                    "merchant_logo_offset": {
                        "$ref": "#/components/schemas/Point"
                    },
                    "shipping": {
                        "description": "Shipping cost for this offer",
                        "type": "string"
                    },
                    "price": {
                        "description": "Item price excluding shipping",
                        "type": "string"
                    },
                    "total": {
                        "description": "Total price including shipping",
                        "type": "string"
                    },
                    "link": {
                        "description": "URL to purchase the book from this merchant",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BookWithPrices": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Book"
                    },
                    {
                        "properties": {
                            "prices": {
                                "description": "Live merchant offers. Returned only by `GET /book/{isbn}` with `with_prices=1`, on a plan that includes price access; omitted everywhere else.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Price"
                                },
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "LanguageFilters": {
                "properties": {
                    "language": {
                        "description": "Filter by language. Matches the ISO 639-3 code held in the index, e.g. `eng` for English, `fra` for French. On `/books/{query}` full names and two-letter codes are normalised for you; every other endpoint matches the code exactly.",
                        "type": "string",
                        "nullable": true,
                        "default": null,
                        "maxLength": 50
                    }
                },
                "type": "object"
            },
            "PaginationFilters": {
                "properties": {
                    "page": {
                        "description": "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
                        "type": "integer",
                        "nullable": true,
                        "default": 1
                    },
                    "pageSize": {
                        "description": "How many items should be returned per page, maximum of 100. A larger value is rejected with a 400 Bad Request",
                        "type": "integer",
                        "nullable": true,
                        "default": 20
                    }
                },
                "type": "object"
            },
            "DateRangeFilters": {
                "properties": {
                    "publishedFrom": {
                        "description": "Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "type": "string",
                        "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                        "nullable": true,
                        "default": null
                    },
                    "publishedTo": {
                        "description": "Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. `publishedFrom` must not be later than `publishedTo`. On `/books/{query}` this cannot be combined with the `year` parameter.",
                        "type": "string",
                        "pattern": ".*(^\\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\\d|3[01]))?)?$).*",
                        "nullable": true,
                        "default": null
                    }
                },
                "type": "object"
            },
            "GetBooksMultipleRequest": {
                "required": [
                    "isbns"
                ],
                "properties": {
                    "isbns": {
                        "description": "ISBN-10 or ISBN-13 values to look up. The maximum number of ISBNs per request depends on the plan: 10 on Academic, 100 on Basic, 1,000 on Pro and above. Each ISBN counts as a separate call against the daily quota.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "maxItems": 1000
                    }
                },
                "type": "object"
            },
            "SearchBookFilters": {
                "properties": {
                    "year": {
                        "description": "Filter books by year of publication",
                        "type": "integer",
                        "nullable": true,
                        "default": null
                    },
                    "edition": {
                        "description": "Filter books by edition",
                        "type": "integer",
                        "nullable": true,
                        "default": null
                    },
                    "shouldMatchAll": {
[...]
